/* @charset "UTF-8"; */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	text-underline-position:under;
}

html > body .ProseMirror, html > body .toastui-editor-contents {
	text-align: left;
	font-size: 1.25rem;
}

html > body .toast-ui-viewer .toastui-editor-contents {
	text-align: center;
}

.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color:white;
}

.btn-text-link:hover {
	color:olive;
/* 	text-decoration: underline; */
}

.border-bottom-line {
	border-bottom: 1px solid #F3F3F3;
}
.head-header {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	padding: 1rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-input {
	width: 700px;
	height: 48px;
	border-radius: 20px 0 0 20px;
	border: 1px solid #B7B7B7;
	background-color: #EBEBEB;
	font-size: 20px;
	margin-left: 20px;
	padding-left: 20px;
}

.search-input:focus {
	outline:1px solid #4948FF;
}

.search-icon {
	height: 48px;
	border-radius: 0 20px 20px 0;
}


.search-select {
	width: 75px;
	border-width: 1px 0px;
	border-color: #F3F3F3;
	border-style: solid;
	text-align: center;
}

.search-list {
	height: 48px;
	border: 1px solid #F3F3F3;
}

.search-body{
	padding-bottom: 200px;
}

.main-span {
	font-size: 0.8rem;
	font-weight: 700;
}

.layer-section {
	position: absolute;
	border: 1px solid #5D5D5D;
	border-radius: 5px;
	width: 300px;
	background-color: #fff;
	margin-top: 2px;
	display: none;
}

.layer-section-in {
	margin: 25px;
}
.layer-section-in > h1 {
	font-size: 20px;
}

.layer-section-in > p {
    color: rgb(134, 134, 134);
    font-size: 13px;
    font-weight: 400;
    margin: 4px 0px;
    line-height: 20px;
}

.section-label {
	font-size: 15px;
	display: flex;
	align-items: center;
	margin: 4px 3px;
}

.search-section-div {
	z-index: 5;
	position: relative;
	margin: 0px 10px;
}



.search-button-title {
	border: 1px solid #F3F3F3;
	border-radius: 5px;
	font-size: 14px;
    font-weight: bold;
	text-align: center;
	padding: 6px 12px;
	
}

.search-head {
	z-index: 3;
	position: fixed;
}

.section-button {
	display: flex;
	justify-content: flex-end;
}

/* eventArticle_list css 처리 */
/* eventArticle_list css 처리 */
/* eventArticle_list css 처리 */
.listEventArticle-main {
	
}

.main-img {
	
}

.main-img-div{
	position: relative;
}

.main-img-a {
	display: inline-block;
}
.main-img {
	
	width: 355px;
	height: 277px;
	border-radius: 5px;
}

.main-img-div:hover {
	filter: brightness(0.9);
}
.main-img-div:hover > .list-save-button {
	display: block;
}

.list-save-button {
	display: none;
	position: absolute;
	top: 0;
	left: 80%;
	transform: translate( 90%, 20% );
}

.list-progress {
	position: absolute;
	top: 5%;
	left: -50px;
	transform: translate( 90%, 20% );
}

.list-save-icon {
	font-size: 30px;
	position: relative;
	color: #FFE400;
	
}

div {
	display: block;
} 
/* myPage css 처리 */
/* myPage css 처리 */
/* myPage css 처리 */
.myPage-wrap{
	position: relative;
	width: 100%;
	overflow: hidden;
    margin: 25px auto 0 auto;
	text-align: left;
}


.container-box {
	position: relative;
	width: 1400px;
	min-width: 1400px;
	margin: 0 auto;
	
}

.myPage-left-div{
	border-top: 1px solid #B7B7B7;
	padding: 15px 20px;

}
.myPage-left-h2 {
	font-weight: bold;
	font-size: 17px;
	padding: 8px 0;
}
.myPage-left-ul{
	font-weight: light;
	font-size: 14px;
	color: #666;
	
}

.myPage-left-ul > li:hover{
	color: #489CFF;
}
/* myPage-center css */
/* myPage-center css */
/* myPage-center css */
.myPage-center-section{
	float: right;
	text-align: left;
	display: block;
	background-color: #fff;
}
.myPage-center-div{
	position: relative;
	border: 1px solid #B7B7B7;
	padding: 40px;
	width: 1200px;
}
.myPage-head-div {
	position: relative;
	margin: 10px 0 40px 0;
	font-size: 38px;
}
.myEventArticle-table {
	width: 100%;
}
.myPage-eventArticle{
	position: relative;
}
.myPage-eventArticle-div{
	display: flex;
    margin-bottom: 15px;
    border-bottom: 2px solid #489CFF;
}
.myPage-eventArticle-li {
	position: relative;
    float: left;
    list-style: none;
    margin: -2px;
  
}

.li-space{
	width: 100px;
}
.myPage-eventArticle-button {
   	width: 200px;
    height: 54px;
   	text-align: center;
   	background-color: #EAEAEA;
   	border: 2px solid #D8D8D8;
   	border-bottom: 2px solid #489CFF;
}
.myPage-eventArticle-li-a {
	display: block;
}
.myPage-left-section {
	position: relative;
	width: 188px;
	padding: 0;
	margin: 0;
	background: #fff;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
	text-align: left;
}
.myEventArticle-table-div th {
	text-align: center;
	border: 1px solid #F3F3F3;
	border-top: 1px solid #000;
	padding: 5px 0px;
	background-color: #EAEAEA;
}
.saveEvent-Tbody-body td {
	text-align: center;
	border: 1px solid #F3F3F3;
	border-right: none;
	
}

.saveEvent-Tbody-body td:first-child{
	width: 100px;
	border-left: none;
}
.saveEvent-Tbody-table{
	width: 100%;
	height: 100%;
}

.saveEvent-Tbody{
	border: 1px solid #F3F3F3;
	margin: 20px 0;
	border-radius: 5px;
	box-shadow:2px 2px 5px 2px  #F3F3F3;
}
.myEventArticle-images{
	width: 180px;
	height: 180px;
}
.saveEvent-Tbody-div{
	margin: 30px;
}

.saveEvent-Tbody-date{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.saveEvent-Tbody-images-div{
	display: flex;
/* 	justify-content: center; */
}
.saveEvent-Tbody-progress{
	color: #FFF;
	font-weight: normal;
	font-size: 16px;
	padding: 5px;
	border-radius: 3px;
}

.saveEvent-Tbody-body{
	font-size: 16px;
	margin-left: 30px;
	width: 500px;
	height: 150px;
}
.saveEvent-Tbody-title{
	font-weight: bold;
}
#saveEventCheckBox {
	width:16px;
	height:16px;
	position: relative;
    top: 3px;
}

#saveEventCheckBoxCol{
	width:16px;
	height:16px;
	position: relative;
    top: 3px;
}

.myEventArticle-article-head{
	display: flex;	
	justify-content: space-between;
    align-items: center;
}
.myEventArticle-search-input-div{
	display: inline-block;
	margin-right: 150px ;
	border: 1px solid #B7B7B7;
}
.myEventArticle-search-input {
	width: 180px;
	height: 24px;
}

.myEventArticle-search-input:focus {
	outline:none;
}


.myEventArticle-search-button{
	display: flex;
	align-items: center;
}


.myEventArticle-write-button{
	padding: 7px 15px;
	margin: 15px 10px;
	border: 1px solid #D8D8D8;
	background-color: #EAEAEA;
}
.myEventArticle-delete-button{
	padding: 7px 15px;
	margin: 15px 10px;
	border: 1px solid #D8D8D8;
	background-color: #EAEAEA;
}
.myEventArticle-article-foot{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-click{
	display: inline-block;
	text-align: center;
}

.page-click-span {
	display: block;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	font-size: 15px;
	
}
.page-click-span:hover {
	border: 1px solid #E4E4E4;
}
.myEventArticle-goSite{ 
	font-weight: bold;
}
.myEventArticle-goSite:hover{
	color: #489CFF;
}
body {
}

/* writeEventArticle CSS처리 */
/* writeEventArticle CSS처리 */
/* writeEventArticle CSS처리 */
.writeEvent-box{
	border: 1px solid #B7B7B7;
	padding: 15px 30px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.writeEvent-input{
	width: 700px;
	height: 36px;
	border: 1px solid #B7B7B7;
	padding-left: 20px;
	margin: 10px 0;
	font-size: 14px;
}
.Date-div{
	display: flex;
	align-items: center;
}

.writeEvent-Date-div{
	display: flex;
	align-items: center;
	position: relative;
	margin-right: 10px;
	
}
.writeEvent-endDate{
	margin-left: 10px;
}
.writeEvent-winningDate{
	margin-left: 100px;
}

.writeEvent-input-Date {
	width: 100%;
	height: 36px;
	border: 1px solid #B7B7B7;
	padding-left: 20px;
	margin: 10px 0;
	font-size: 14px;
	border-radius: 5px;
}
.calendar-icon{
	position: absolute;
	right: 10px;
}
.writeEvent-input-Date:focus {
	outline:1px solid #4948FF;
}
.writeEvent-input:focus {
	outline:1px solid #4948FF;
}
.writeEvnet-input-head{
	font-size: 22px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 9px;
}
.writeEvent-btn-div{
	display: flex;
	justify-content: right;
}
.writeEventArticle-warn{
	color: rgb(134, 134, 134);
    font-size: 13px;
    font-weight: 400;
}
.writeEvent-btn{
	width: 150px;
	padding: 10px 12px;
	background-color: #1266FF;
	color: #fff;
	font-style: 14px;
	border-radius: 3px;
}
.search-button-title:hover{
	border: 1px solid #1266FF;
	color: #1266FF;
}
.startDate-span{
	position: relative;
	top: 10px;
	margin: 0px 10px;
}
.endDate-span{
	position: relative;
	top: 10px;
	left: 180px;
}

.winningDate-span{
	position: relative;
	top: 10px;
	left: 450px;
	margin: 0px 10px;
}
.writeEvent-imageUpload{
	height: 180px;
	width: 180px;
	border: 1px dashed #B7B7B7;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	display: flex;
    font-size: 30px;
    color: #1266FF;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
   
}
 
.writeEvent-imageBtn{
	border: 1px solid #B7B7B7;
	font-size: 14px;
	height: 36px;
	padding: 0px 20px;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	display: flex;
	align-items: center;
    justify-content: center;
}
.btn-hover:hover{
	filter: brightness(90%);
}
.writeEvent-imageURL{
	position: absolute;
	display: none;
	border: 1px solid #B7B7B7;
	background-color: #fff;
	font-size: 14px;
	z-index: 1;
}
.writeEvent-imageURL-input{
	width: 100%;
	border: 1px solid #B7B7B7;
	height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 10px 0;
}
.writeEvent-imageURL-input:focus {
	outline:1px solid #4948FF;
}

.writeEvent-imageURL-Btn{
	width: 50px;
	padding: 5px 6px;
	background-color: #1266FF;
	color: #fff;
	font-style: 14px;
	border-radius: 3px;
	margin:0 0 0 auto;
	display: flex;
	align-items: center;
    justify-content: center;
    
}
.writeEvent-imageUpload-icon{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.writeEvent-imageUpload-image{
	position: absolute;
	width: 100%;
	height: 100%;
}
.writeEvent-imgUpload-input{
	width: 100%;
	height: 100%;
	opacity:0;
	z-index:5;
	cursor: pointer;
}

/* myWriteEventArticle CSS  */
/* myWriteEventArticle CSS  */
/* myWriteEventArticle CSS  */

.eventAticle-modify-div{
	margin: auto 50px 0 auto;
	padding: 20px 0;
}

.eventAticle-modify-btn{
	border: 1px solid #1266FF;
	color: #1266FF;
	width: 120px;
	height: 38px;
	border-radius: 3px;
}

.eventAticle-modify-btn:hover {
	background-color: #1266FF;
	color: #fff;
}



.loginBox{
	background-color: #fff;
	width: 500px;
	height: auto;
	border: 1px solid #F3F3F3;
	margin: 0 auto;
	padding: 70px;
}

.header-loginId{
	margin-bottom: 8px;
}

.header-loginPw{
	margin-bottom: 8px;
	margin-top: 16px;
}
.input-box{
	width: 100%;
	height: 44px;
}
.input-loginId{
	width: 100%;
	height: 100%;
	border: 1px solid #F3F3F3;
	padding: 0px 16px;
}
.input-loginPw{
	width: 100%;
	height: 100%;
	border: 1px solid #F3F3F3;
	padding: 0px 16px;
}
.input-loginId:focus{
	border: 1px solid #000;
	outline: none;
}
.input-loginPw:focus {
	border: 1px solid #000;
	outline: none;
}
.login-box{
	margin-top: 30px;
	
}
.login-btn{
	width: 100%;
	height: 56px;
	line-height:24px;
	border-radius: 6px;
	font-size:14px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	background-color: #4948FF;
	color: #FFFFFF;
}
.kakaoLogin-box{
	margin-top: 50px;
	
}
.kakao-btn{
	width: 100%;
	height: 56px;
	line-height:24px;
	border-radius: 6px;
	font-size:14px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	display: inline-block;
	background: url("https://www.dabangapp.com/static/media/talk.ec3b5405.svg") left 16px center / 30px 30px no-repeat rgb(254, 229, 0);
}

.foot-ad{
	background-color: #f3f3f3;
	margin-top: 150px;
	height: 150px;
}

